#test

*_log.txt

randbits.txt

resource/texcache.zip

resource/mdlcache.zip

# **/*.dll
# **/*.exe

bgbasm3/*.exe
bgbasm3/*.dll
resource/**/*.exe
resource/**/*.dll
resource_dev/dump/*.*
resource_dev2/**/*.*

*.obj
# *.pdn
*.suo
*.pdb
*.ilk
*.exp
!resource/*.dll

*.data
*.js
*.wasm
*.html
*.html.mem
*.bc
